<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EvtxImporter.Config" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="EvtxImporter.Config.NpgsqlConnection" connectionString="Server=localhost;Port=5432;Database=postgres;User Id=postgres;Password=postgres;Pooling=false;" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <EvtxImporter.Config>
            <setting name="LogPath" serializeAs="String">
                <value>C:\Data\Event Logs\</value>
            </setting>
            <setting name="WaterMarkFile" serializeAs="String">
                <value>C:\Data\Event Logs\hamster.json</value>
            </setting>
        </EvtxImporter.Config>
    </userSettings>
</configuration>